<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Tobias Reaper

---
---

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this [telecom customer churn dataset](https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv).

## Requirements

- [x] Load the data
- [ ] Clean the data if necessary (it will be)
- [ ] Create and fit a baseline Keras MLP model to the data.
- [ ] Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer

You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters.

Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

---

## Load and Look

- [x] Load the data

In [17]:
# === Initial imports === #
import pandas as pd
import numpy as np

# !pip install pyjanitor
import janitor

Requirement already satisfied: pyjanitor in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (0.19.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (0.21.3)
Requirement already satisfied: pandas>=0.24.0 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (0.24.2)
Requirement already satisfied: xlrd>=0.9.0 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (1.1.0)
Requirement already satisfied: numpy>=1.14.1 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (1.16.4)
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (2.20.0)
Requirement already satisfied: pandas-flavor==0.1.2 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pyjanitor) (0.1.2)
Requirement already satisfied: scipy>=0.17.0 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from scikit-learn>=0.19.1->pyjanitor) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from scikit-learn>=0.19.1->pyjanitor) (0.13.2)
Requirement already satisfied: pytz>=2011k in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pandas>=0.24.0->pyjanitor) (2018.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from pandas>=0.24.0->pyjanitor) (2.7.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from requests->pyjanitor) (1.23)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from requests->pyjanitor) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from requests->pyjanitor) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from requests->pyjanitor) (2019.9.11)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.24.0->pyjanitor) (1.11.0)
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
# === Load the data === #
data_url = "https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv"

df1 = pd.read_csv(data_url)

In [6]:
# === Configure pandas display settings === #
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [13]:
# === First looks === #
print(df1.shape)
df1.head(2)

(7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [8]:
# === Nulls? === #
df1.isnull().sum() # Nope! At least no NaN values

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
# === Look at the data in other ways === #
df1.select_dtypes(exclude="number").describe().T.sort_values(by="unique")

                 count unique               top  freq
Churn             7043      2                No  5174
gender            7043      2              Male  3555
Partner           7043      2                No  3641
Dependents        7043      2                No  4933
PhoneService      7043      2               Yes  6361
PaperlessBilling  7043      2               Yes  4171
Contract          7043      3    Month-to-month  3875
StreamingMovies   7043      3                No  2785
StreamingTV       7043      3                No  2810
TechSupport       7043      3                No  3473
OnlineBackup      7043      3                No  3088
OnlineSecurity    7043      3                No  3498
InternetService   7043      3       Fiber optic  3096
MultipleLines     7043      3                No  3390
DeviceProtection  7043      3                No  3095
PaymentMethod     7043      4  Electronic check  2365
TotalCharges      7043   6531              20.2    11
customerID        7043   7043        4430-YHXGG     1

I'm curious why some of the yes/no columns have 3 categories.

In [10]:
# === Look at an example of yes/no feature with 3 categories === #
df1["StreamingMovies"].value_counts()

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

In [11]:
# === Look at another example of yes/no feature with 3 categories === #
df1["TechSupport"].value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [12]:
# === Look at another example of yes/no feature with 3 categories === #
df1["DeviceProtection"].value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

That is a kind of analog for null values, but are already filled in. We can use it like that.

---

## Data Day Spa

- [ ] Clean the data if necessary (it will be)

In [15]:
# === First, clean up the column names using pyjanitor === #
df2 = (df1.clean_names())
df2.head(2)

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [18]:
df2.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

---
---

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?