<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Hyperparameter Tuning

## *Data Science Unit 4 Sprint 2 Assignment 4*

## Your Mission, should you choose to accept it...

To hyperparameter tune and extract every ounce of accuracy out of this telecom customer churn dataset: <https://drive.google.com/file/d/1dfbAsM9DwA7tYhInyflIpZnYs7VT-0AQ/view> 

## Requirements

- Load the data
- Clean the data if necessary (it will be)
- Create and fit a baseline Keras MLP model to the data.
- Hyperparameter tune (at least) the following parameters:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (if applicable to optimizer)
 - momentum (if applicable to optimizer)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
 You must use Grid Search and Cross Validation for your initial pass of the above hyperparameters
 
 Try and get the maximum accuracy possible out of this data! You'll save big telecoms millions! Doesn't that sound great?

In [1]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.1)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)

In [2]:
import numpy
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [0]:
import category_encoders as ce

In [4]:
df = pd.read_csv("https://lambdaschool-data-science.s3.amazonaws.com/telco-churn/WA_Fn-UseC_-Telco-Customer-Churn+(1).csv")
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [5]:
# baseline for classification. 
target = 'Churn'
df[target].value_counts(normalize=True)

No     0.73463
Yes    0.26537
Name: Churn, dtype: float64

In [6]:
df.describe(include='all')

        customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
count         7043   7043    7043.000000  ...    7043.000000         7043   7043
unique        7043      2            NaN  ...            NaN         6531      2
top     2346-DJQTB   Male            NaN  ...            NaN         20.2     No
freq             1   3555            NaN  ...            NaN           11   5174
mean           NaN    NaN       0.162147  ...      64.761692          NaN    NaN
std            NaN    NaN       0.368612  ...      30.090047          NaN    NaN
min            NaN    NaN       0.000000  ...      18.250000          NaN    NaN
25%            NaN    NaN       0.000000  ...      35.500000          NaN    NaN
50%            NaN    NaN       0.000000  ...      70.350000          NaN    NaN
75%            NaN    NaN       0.000000  ...      89.850000          NaN    NaN
max            NaN    NaN       1.000000  ...     118.750000          NaN    NaN

[11 rows x 21 columns]

In [7]:
df = df.drop(columns=['customerID','SeniorCitizen','tenure','TotalCharges','MonthlyCharges'])
df.head(20)

    gender Partner Dependents  ... PaperlessBilling              PaymentMethod Churn
0   Female     Yes         No  ...              Yes           Electronic check    No
1     Male      No         No  ...               No               Mailed check    No
2     Male      No         No  ...              Yes               Mailed check   Yes
3     Male      No         No  ...               No  Bank transfer (automatic)    No
4   Female      No         No  ...              Yes           Electronic check   Yes
5   Female      No         No  ...              Yes           Electronic check   Yes
6     Male      No        Yes  ...              Yes    Credit card (automatic)    No
7   Female      No         No  ...               No               Mailed check    No
8   Female     Yes         No  ...              Yes           Electronic check   Yes
9     Male      No        Yes  ...               No  Bank transfer (automatic)    No
10    Male     Yes        Yes  ...              Yes               Mailed check    No
11    Male      No         No  ...               No    Credit card (automatic)    No
12    Male     Yes         No  ...               No    Credit card (automatic)    No
13    Male      No         No  ...              Yes  Bank transfer (automatic)   Yes
14    Male      No         No  ...              Yes           Electronic check    No
15  Female     Yes        Yes  ...               No    Credit card (automatic)    No
16  Female      No         No  ...               No               Mailed check    No
17    Male      No        Yes  ...               No  Bank transfer (automatic)    No
18  Female     Yes        Yes  ...               No    Credit card (automatic)   Yes
19  Female      No         No  ...              Yes           Electronic check    No

[20 rows x 16 columns]

In [0]:
OD = ce.OrdinalEncoder()
df= OD.fit_transform(df)

In [9]:
df.head(20)

    gender  Partner  Dependents  ...  PaperlessBilling  PaymentMethod  Churn
0        1        1           1  ...                 1              1      1
1        2        2           1  ...                 2              2      1
2        2        2           1  ...                 1              2      2
3        2        2           1  ...                 2              3      1
4        1        2           1  ...                 1              1      2
5        1        2           1  ...                 1              1      2
6        2        2           2  ...                 1              4      1
7        1        2           1  ...                 2              2      1
8        1        1           1  ...                 1              1      2
9        2        2           2  ...                 2              3      1
10       2        1           2  ...                 1              2      1
11       2        2           1  ...                 2              4      1
12       2        1           1  ...                 2              4      1
13       2        2           1  ...                 1              3      2
14       2        2           1  ...                 1              1      1
15       1        1           2  ...                 2              4      1
16       1        2           1  ...                 2              2      1
17       2        2           2  ...                 2              3      1
18       1        1           2  ...                 2              4      2
19       1        2           1  ...                 1              1      1

[20 rows x 16 columns]

In [0]:
SS = StandardScaler()
df= SS.fit_transform(df)

In [0]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

In [13]:
# split into input (X) and output (Y) variables
X = df[:,0:8]
Y = df[:,8]

# Function to create model, required for KerasClassifier
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(12, input_dim=8, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

# create model
model = KerasClassifier(build_fn=create_model, verbose=0)

# define the grid search parameters
# batch_size = [10, 20, 40, 60, 80, 100]
# param_grid = dict(batch_size=batch_size, epochs=epochs)

# define the grid search parameters
param_grid = {'batch_size': [10, 20, 40, 60, 80, 100],
              'epochs': [20]}

# Create Grid Search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)

# Report Results
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Best: 0.4361757218837738 using {'batch_size': 80, 'epochs': 20}
Means: 0.4252435564994812, Stdev: 0.009958612135963453 with: {'batch_size': 10, 'epochs': 20}
Means: 0.43007018566131594, Stdev: 0.009187814552779325 with: {'batch_size': 20, 'epochs': 20}
Means: 0.43120554089546204, Stdev: 0.01233463015427571 with: {'batch_size': 40, 'epochs': 20}
Means: 0.43305122256278994, Stdev: 0.00961587427592423 with: {'batch_size': 60, 'epochs': 20}
Means: 0.4361757218837738, Stdev: 0.008322967443110646 with: {'batch_size': 80, 'epochs': 20}
Means: 0.42836251854896545, Stdev: 0.018707427937051446 with: {'batch_size': 100, 'epochs': 20}

In [14]:
# define the grid search parameters
param_grid = {'batch_size': [20],
              'epochs': [20, 40, 60,200]}

# Create Grid Search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)

# Report Results
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.4340456485748291 using {'batch_size': 20, 'epochs': 20}
Means: 0.4340456485748291, Stdev: 0.009530012941151389 with: {'batch_size': 20, 'epochs': 20}
Means: 0.423253720998764, Stdev: 0.011569928740445346 with: {'batch_size': 20, 'epochs': 40}
Means: 0.4243928074836731, Stdev: 0.004544139989123904 with: {'batch_size': 20, 'epochs': 60}
Means: 0.4255263447761536, Stdev: 0.008931916457336021 with: {'batch_size': 20, 'epochs': 200}

## Stretch Goals:

- Try to implement Random Search Hyperparameter Tuning on this dataset
- Try to implement Bayesian Optimiation tuning on this dataset using hyperas or hyperopt (if you're brave)
- Practice hyperparameter tuning other datasets that we have looked at. How high can you get MNIST? Above 99%?
- Study for the Sprint Challenge
 - Can you implement both perceptron and MLP models from scratch with forward and backpropagation?
 - Can you implement both perceptron and MLP models in keras and tune their hyperparameters with cross validation?